:root {
  --light-blue-10: rgba(173, 216, 230, 0.1);
  --mountain-blue-30: rgba(0, 146, 170, 0.3);
}

@font-face {
	font-family: 'EB Garamond' ;
	src: url(https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap);
}
@font-face {
	font-family: 'Raleway';
	src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
	animation: fadeIn 2s;
}

.theme--light {
	color: black;
	background: white;
}

.theme--dark {
	color: white;
	background: rgb(40, 40, 40);
}


// Components
.theme-button {
	z-index: 10;
	position: absolute;
	right: 0;
	top: 0;
	padding: 1rem;
	margin: 1rem;
	border-radius: 150px;
	background: rgba(40,40,40, 0.5);
	color: white;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 20vw;
  margin-bottom: 1rem;

  @media screen and (max-width: 768px) {
    padding: 0 10vw;
  }

  @media screen and (max-width: 425px) {
    padding: 0;
  }

  .navbar-button {
    z-index: 10;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem;

    & > a {
      text-decoration: none;
      color: white;
      font-weight: 400;
      transition: all 0.2s;

      &:hover {
        color: deepskyblue;
      }
    }
  }

  .active-nav {
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 90%;
      position: absolute;
      top: 0.1rem;
      left: 5%;
      border-bottom: 1px solid white;
      z-index: -1;
      animation: fadeIn 0.4s;
    }
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right top, var(--light-blue-10), var(--mountain-blue-30)), url('./assets/images/DSC_1398.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: 20%;
  position: relative;
  top: -73px;
}

.text-box {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  & .heading-primary {
    text-transform: uppercase;
    color: white;
    margin-bottom: 6rem;

    & .heading-primary-main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 1.5rem;

      @media screen and (max-width: 425px) {
        font-size: 4rem;
      }
    }

    & .heading-primary-secondary {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 4.5rem;
      margin-left: 2.5rem;

      @media screen and (max-width: 425px) {
        letter-spacing: 1.5rem;
        margin-left: 0;
      }
    }
  }
}

.btn {
  padding: 1.2rem 0 1.2rem 1.2rem;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid;
  transition: all 0.2s;

  &.btn--white {
    color: white;
    border-color: white;
  }

  &.btn-animated:hover {
    color: deepskyblue;
    border-color: deepskyblue;
  }
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -73px;

	@media screen and (max-width: 425px) {
		grid-template-columns: 1fr;
	}

  .profile-photo {
    position: relative;

    .profile-photo--keith {
      width: 100%;
    }

    .social-icon-overlay {
      position: absolute;
      height: 4.5rem;
      fill: black;
      top: 3rem;
      left: 3rem;
      border-radius: 1rem;
      transition: all 0.2s;

      @media screen and (max-width: 768px) {
        height: 3rem;
        top: 1rem;
        left: 1rem;
      }
    }

    .social-icon-overlay:hover {
      cursor: pointer;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.6));
    }
  }

  .about-content {
    padding: 6rem;

		@media screen and (max-width: 768px) {
			padding: 2rem;
		}
		
		h1 {
			font-family: EB Garamond;
			letter-spacing: .2rem;

			@media screen and (max-width: 768px) {
				font-size: 3rem;
			}
		}
			
		.custom-seperator {
			margin-top: 8rem;
			margin-bottom: 4rem;
			content: '';
			width: 10rem;
			border-bottom: 1px solid black;

			@media screen and (max-width: 768px) {
				margin-top: 2rem;
				margin-bottom: 1rem;
			}
		}
  }

	.about-content__text {
		margin-top: 1rem;
		font-size: 2rem;
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		line-height: 3rem;
		text-align: justify;
		display: flex;
    flex-direction: column;
    height: 75%;

		@media screen and (max-width: 768px) {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		.book-a-session {
			display: block;
			margin-top: auto;
			text-transform: uppercase;
			color: inherit;
			text-decoration: none;

			svg {
				fill: black;
				margin-left: 2rem;
				transform: rotate(270deg);
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

.portfolio-section {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
	grid-auto-rows: 40rem;
	align-items: stretch;
	gap: 1rem;
	grid-auto-flow: dense;

	img {
		max-width: 100%;
		object-fit: cover;
		overflow: hidden;
	}

	.tall {
		grid-row: span 2;
	}

	.wide {
		grid-column: span 2;
	}	
}